Repository wenwen357951/nuxt3-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm format:write, pnpm lint:fix, prettier --write

feat: add MIT License file to the repository
  LICENSE
Due: none

Implement code changes to enhance functionality and improve performance
  package.json
  pnpm-lock.yaml
Due: none

Add NuxtImg component to MyWelcome.vue for enhanced visuals
  README.md
  nuxt.config.ts
  package.json
  pnpm-lock.yaml
  src/components/MyWelcome.vue
Due: pnpm format:write, pnpm lint:fix, prettier --write

Add CI workflow configuration and update README badges for consistency
  .github/workflows/ci.yml
  README.md
Due: prettier --write

Refactor code structure for improved readability and maintainability
  package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  pnpm format:write: any of: *.{js,jsx,ts,tsx,vue}
  pnpm lint:fix: any of: *.{js,jsx,ts,tsx,vue}
  prettier --write: any of: *.md
